<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AppointmentTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AppointmentTools.Properties.Settings>
            <setting name="CurrentKey" serializeAs="String">
                <value>AIzaSyAW_DRZU9uXOZud2w3LUsFBC0F9s_cvqgA</value>
            </setting>
            <setting name="TestKey" serializeAs="String">
                <value>ThisIsNotarealket987987987987987989</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>CHUNKER</value>
            </setting>
            <setting name="Setting1" serializeAs="String">
                <value />
            </setting>
        </AppointmentTools.Properties.Settings>
    </userSettings>
</configuration>